﻿
@model List<SliderGetVM>
@{
	int order = 1;
}
<section class="content-main">
	<div class="content-header">
		<h2 class="content-title">Slider List</h2>
		<a asp-action="Create" asp-controller="Slider" class="btn btn-primary">Create</a>
	</div>
	<div class="card mb-4">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#ID</th>
							<th scope="col">Image</th>
							<th scope="col">Little Title</th>
							<th scope="col">Title</th>
							<th scope="col">Big Title</th>
							<th scope="col">Offer</th>
							<th scope="col">Link</th>
							<th colspan="2" class="text-center"> Action </th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@(order++)</td>
								<td>
									<img src="~/imgs/sliders/@item.ImagePath" width="150" />
								</td>
								<td>@item.LittleTitle</td>
								<td>@item.Title</td>
								<td>@item.BigTitle</td>
								<td>@item.Link</td>
								<td>@item.Offer</td>
								<td>
									<a asp-action="Update" asp-controller="Slider" class="btn btn-primary" asp-route-id="@item.Id">Update</a>
								</td>
								<td>
									<a asp-action="Delete" asp-controller="Slider" class="btn btn-info" asp-route-id="@item.Id">Delete </a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>